.status {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
}

.item {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: left;
  width: 250px;
  margin-bottom: 10px;
}

.img {
  margin-right: 15px;
  border-radius: 5px;
}
